<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Modificar Curso</div>
			<div class="card-body">
			
			<form th:object="${course}"  th:action="@{/courses/update/{id}(id=${course.id})}" 
					th:method="post">
					
						
					<div class="form-group">
						<label for="nameCourse">Nombre</label> <input type="text"
							class="form-control" id="nameCourse" aria-describedby="nameCourse"
							th:field="*{course.name}"/>
					</div>
									
					<div class="form-group">
								<label for="career">Carrera</label> 
								<select id="career" name="career" th:field="*{course.career}">
									<option value="Ingenieria de Sistemas">Ingenieria de Sistemas</option>
									<option value="Ingenieria de Software">Ingenieria de Software</option>
									<option value="Ingenieria Industrial">Ingenieria Industrial</option>
									<option value="Economia">Economia</option>
									<option value="Administracion">Administracion</option>
									<option value="Ingenieria Civil">Ingenieria Civil</option>	
								</select>
					</div>
					
					<div class="form-group">
						<label for="professor">Profesor</label> <select id="professor"
							class="form-control" th:field="*{course.professor}">
							<option th:each="professor : ${professors}"
								th:text="${professor.name + professor.lastName}" th:value="${professor.id}"></option>
						</select>
					</div>
					
						<div class="form-group">
						<label for="nameClient">Apellido del pasajero</label> <input type="text"
							class="form-control" id="nameClient" aria-describedby="nameClient"
							th:field="*{client.lastName}" disabled="disabled" />
					</div>
					
					
						<div class="form-group">
						<label for="nameClient">Origen</label> <input type="text"
							class="form-control" id="nameClient" aria-describedby="nameClient"
							th:field="*{trip.dptDeparture.name}" disabled="disabled" />
					</div>
					
					<div class="form-group">
						<label for="nameClient">Destino</label> <input type="text"
							class="form-control" id="nameClient" aria-describedby="nameClient"
							th:field="*{trip.dptArrival.name}" disabled="disabled" />
					</div>
					
					<a th:href="@{/tickets/list/}" class="btn btn-primary">Regresar</a>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>
			
			