<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Academia Freud</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Inicio
          <span class="sr-only">(current)</span>
        </a>
        
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/professors}" >Gestionar Profesores</a>
      </li>
      
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/courses}" >Gestionar Cursos</a>
      </li>
      
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/students}">Gestionar Alumnos</a>
      </li>
        
     
      <li sec:authorize="hasRole('ROLE_USER') "  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" 
        href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="isAuthenticated()" >
          Matrícula
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/courses/listCoursesAvailables}">Visualizar Cursos Disponibles</a>
          
        </div>
      </li>	
      
      <li sec:authorize="hasRole('ROLE_USER') "  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" 
        href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="isAuthenticated()" >
          Información Académica
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/studentCourses}">Cursos por Semestre</a>
          
        </div>
      </li>
      
      
      <li class="nav-item"><a th:href="@{/logout}"
					class="nav-link" sec:authorize="isAuthenticated()"> Cerrar Sesión</a>				
	   </li>
    </ul>
  </div>
  
  <div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
  <div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
  <div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
</nav>